{% extends 'base.html' %}

{% block title %}User Home{% endblock %}

{% block content %}
    <div class="content-container">
        <h1>Welcome to User Home</h1>

        <!-- הצגת הודעות -->
        {% if messages %}
            <ul class="message-list">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- כפתור יצירת לקוח -->
        <div class="button-group">
            <a href="{% url 'create_customer' %}" class="btn btn-primary">Create New Customer</a>
        </div>

        <!-- כפתור חזרה לדף הבית של המשתמש -->
        <div class="button-group">
            <a href="{% url 'home' %}" class="btn btn-secondary">Back To Welcome Page</a>
        </div>
    </div>
{% endblock %}
